rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /danjiMembers/{uid} {
      allow read: if true;
      allow write: if false;
    }

    match /_danjiAiLimits/{uid} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
